

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Title</title>
    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }}>
  </head>
  <body>
    <main role="main" class="container" id='main'>
      <div id=vis></div>
      <br>
      <p>
        {% for item in letters %}
        {% if loop.index % 2 == 1 %}
        <div class="row">
        {% endif %}
        <div class="col-sm-6">
        <div class="card" >
          <div class="card-body">
            <img src={{item.picture}} width=50px height=50px> 
            <h5 class="card-title">
             {{item.company}}
              <span class="badge badge-danger">{{item.data.discount}}</span>
            </h5>
            <p>
            <h6>с {{item.data.from}} до {{item.data.to}}</h6>
            <hr>
            <p class="card-text">{{item.subject}} </p>
            <p class="card-text">{{item.data.text}}</p>
            <hr>
            <a href="{{item.link}}" class="btn btn-primary float-right">Открыть письмо</a>
          </div>
        </div>
        {% if loop.index % 2 == 0 %}
        </div>
        {% endif %}
        <br><br>
      </div>
      {% endfor %}
    </main>
    <!-- Bootstrap core JavaScript
      ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src={{ url_for('static', filename='js/cards.js') }}></script>
    <script src={{ url_for('static', filename='js/main.js') }}></script>
  </body>
</html>

