<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>mailDeal</title>
    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">
    <link rel="stylesheet" href={{ url_for('static', filename='css/main.css') }}>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }}>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid">
        <div class="navbar-header navbar-left">
         <a class="navbar-brand" href="/">mailDeal</a>
        </div>
      <form class="form-inline float-right" action="/search" method="GET">
        <input class="form-control mr-sm-2" type="text" name="query" placeholder="Поиск">
        <button class="btn btn-success" type="submit">Поиск</button>
      </form>
    </nav>
    <div id=vis></div>
    <main role="main" class="container" id='main'>
      <br>
      <p>
        
        {% for item in letters %}
        {% if loop.index % 2 == 1 %}
        <div class="row">
        {% endif %}
        <div class="col-sm-6">
        <div class="card" id="card{{loop.index}}">
          <div class="card-body">
            <h5 class="card-title">
             <div style="background-image: url({{item.picture}}); width:50px; height:50px; display:inline-block"></div> {{item.company}}
              <span class="badge badge-danger">{{item.data.discount}}</span>
            </h5>
            <p>
            <h6>с {{item.data.from|cooldatafilter}} по {{item.data.to|cooldatafilter}}</h6>
            <hr>
            <p class="card-text">{{item.subject}} </p>
            <p class="card-text">{{item.data.text}}</p>
            <hr>
            {% for label in item.labels %}
            <span class="badge badge-warning">{{label}}</span>
            {% endfor %}
            <a href="{{item.link}}" class="btn btn-primary float-right">Открыть письмо</a>
          </div>
        </div>
        {% if loop.index % 2 == 0 %}
        </div>
        {% endif %}
        <br><br>
      </div>
      {% endfor %}
      {% if letters|count == 0 %}
        <p>Поиск не дал результатов. Попробуйте другой запрос! </p>
      {% endif %}

    </main>
    <!-- Bootstrap core JavaScript
      ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src={{ url_for('static', filename='js/cards.js') }}></script>
    <script src={{ url_for('static', filename='js/main.js') }}></script>
  </body>
</html>
